.App {
    background-color: #282c34;
    text-align: center;
    display: block;
    color: white;
    justify-content: center;
    box-sizing: content-box;
    margin: auto;


}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.Cont {
    color: white;
    background-color: #282c34;
    justify-content: center;
    margin: 26px;
    padding: 3px;
    border: azure;
}

.btn {
    margin: 15px;
}

.res {
    margin-left: 80px;
    margin-right: 80px;
}

